@import "./constants.scss";

.recent-searches {
  position: absolute;
  font-family: $font-primary;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0;
  width: 100%;
  margin-top: 4px;
  border-radius: 3px;
  z-index: 10;
  p {
    font-size: 1.25em;
    color: #a2a2a2;
    line-height: 2em;
    padding: 0 0.75em;
    border-bottom: 1px solid #fff;
  }
  .list {
    margin: 0;
    padding: 0;
    height: 500px;
    overflow-y: auto;
    > li {
      padding: 0.75em 1.5em;
      font-size: 1em;
      line-height: 1.5em;
      color: #434343;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      &:hover {
        background-color: rgba($blue, 0.7);
        color: #fff; 
      }
    }
  }
}
.resultActive .recent-searches {
  background-color: rgba(43, 43, 43, 1);
  box-shadow: 0px 17px 30px 0px rgba(0,0,0,0.55);
  p {
    border-bottom: 1px solid rgba(#a2a2a2, 0.5);
  }
  .list > li {
    border: none;
    color: #a2a2a2;
    &:hover {
      color: #fff; 
    }
  }
}
