@import "./constants.scss";

.registration {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  background: rgba(#fff, 0.85);
  font-family: "Lato", sans-serif;
  p {
    color: #434343;
    position: relative;
    font-size: 1.5em;
    padding: 1em 0.5em;
  }
  .fields-container {
    position: relative;
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #434343;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #434343;
    }
    input {
      color: #434343;
      background: transparent;
      border: 0;
      font-size: 2em;
      font-weight: 300;
      margin: 0;
      width: auto;
      height: auto;
      padding: 0.3em;
      padding-left: 0.5em;
      &::focus {
        background: transparent;
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }
}
